apiVersion: v1
kind: Service
metadata:
  name: rate-limiter
  namespace: moalog
  labels:
    app: rate-limiter
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: http
      name: http
  selector:
    app: rate-limiter
