apiVersion: apps/v1
kind: Deployment
metadata:
  name: rate-limiter
  namespace: moalog
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: rate-limiter
          resources:
            requests:
              cpu: 500m
              memory: 768Mi
            limits:
              cpu: "1"
              memory: 1536Mi
