apiVersion: apps/v1
kind: Deployment
metadata:
  name: moalog-server
  namespace: moalog
spec:
  replicas: 3
  template:
    spec:
      containers:
        - name: moalog-server
          resources:
            requests:
              cpu: 256m
              memory: 512Mi
            limits:
              cpu: "1"
              memory: 1Gi
