apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: promtail
  namespace: moalog
  labels:
    app: promtail
spec:
  selector:
    matchLabels:
      app: promtail
  template:
    metadata:
      labels:
        app: promtail
    spec:
      serviceAccountName: promtail
      containers:
        - name: promtail
          image: grafana/promtail:2.9.0
          args:
            - "-config.file=/etc/promtail/promtail.yaml"
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi
          volumeMounts:
            - name: config
              mountPath: /etc/promtail
              readOnly: true
            - name: pods-log
              mountPath: /var/log/pods
              readOnly: true
            - name: containers-log
              mountPath: /var/lib/docker/containers
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: promtail-config
        - name: pods-log
          hostPath:
            path: /var/log/pods
        - name: containers-log
          hostPath:
            path: /var/lib/docker/containers
