apiVersion: v1
kind: Service
metadata:
  name: kafka
  namespace: moalog
  labels:
    app: kafka
spec:
  type: ClusterIP
  ports:
    - port: 9092
      targetPort: kafka
      name: kafka
  selector:
    app: kafka
