apiVersion: v1
kind: Service
metadata:
  name: alertmanager
  namespace: moalog
  labels:
    app: alertmanager
spec:
  type: ClusterIP
  ports:
    - port: 9093
      targetPort: http
      name: http
  selector:
    app: alertmanager
