apiVersion: v1
kind: Service
metadata:
  name: zookeeper
  namespace: moalog
  labels:
    app: zookeeper
spec:
  type: ClusterIP
  ports:
    - port: 2181
      targetPort: client
      name: client
  selector:
    app: zookeeper
