apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: moalog
  labels:
    app: mysql
spec:
  type: ClusterIP
  ports:
    - port: 3306
      targetPort: mysql
      name: mysql
  selector:
    app: mysql
