apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: moalog
  labels:
    app: prometheus
spec:
  type: ClusterIP
  ports:
    - port: 9090
      targetPort: http
      name: http
  selector:
    app: prometheus
