apiVersion: v1
kind: ConfigMap
metadata:
  name: rjmx-rate-limiter-config
  namespace: moalog
data:
  config.yaml: |
    jolokia:
      url: "http://rate-limiter:8778/jolokia/"
      timeout_ms: 5000
    server:
      port: 9090
      path: "/metrics"
      bind_address: "0.0.0.0"
    rules:
      - pattern: "java.lang:type=Memory"
        name: "jvm_memory_heap_$1_bytes"
        attribute: "HeapMemoryUsage"
        type: gauge
      - pattern: "java.lang:type=Memory"
        name: "jvm_memory_nonheap_$1_bytes"
        attribute: "NonHeapMemoryUsage"
        type: gauge
      - pattern: "java.lang:type=Threading"
        name: "jvm_threads_$1"
        type: gauge
      - pattern: "java.lang:type=GarbageCollector,name=*"
        name: "jvm_gc_collection_count"
        attribute: "CollectionCount"
        type: counter
      - pattern: "java.lang:type=GarbageCollector,name=*"
        name: "jvm_gc_collection_time_ms"
        attribute: "CollectionTime"
        type: counter
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rjmx-fluxpay-config
  namespace: moalog
data:
  config.yaml: |
    jolokia:
      url: "http://fluxpay-engine:8778/jolokia/"
      timeout_ms: 5000
    server:
      port: 9090
      path: "/metrics"
      bind_address: "0.0.0.0"
    rules:
      - pattern: "java.lang:type=Memory"
        name: "jvm_memory_heap_$1_bytes"
        attribute: "HeapMemoryUsage"
        type: gauge
      - pattern: "java.lang:type=Memory"
        name: "jvm_memory_nonheap_$1_bytes"
        attribute: "NonHeapMemoryUsage"
        type: gauge
      - pattern: "java.lang:type=Threading"
        name: "jvm_threads_$1"
        type: gauge
      - pattern: "java.lang:type=GarbageCollector,name=*"
        name: "jvm_gc_collection_count"
        attribute: "CollectionCount"
        type: counter
      - pattern: "java.lang:type=GarbageCollector,name=*"
        name: "jvm_gc_collection_time_ms"
        attribute: "CollectionTime"
        type: counter
